:root {
    --colorBtnNav: rgb(92,6,174);
    --colorBtnNavLang:#DFDFDF;
}

nav {
    margin-bottom: 5%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav ul button {
    text-transform: uppercase;
    border: none;
}

nav ul button:hover {
    color: var(--colorBtnNav);
    border-top: 0.3rem solid;
    
}

#language  {
    border-top: none;
    border: 1px solid;
    border-radius: 12px;
    background-color: var(--colorBtnNavLang);
}



