/*---MIXINS---*/
@mixin centerChild {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@mixin resetValue {
  margin: 0;
  padding: 0;
  block-size: border-box;
  list-style: none;
}

@mixin title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.7rem;
  font-family: Inter-ExtraBold, sans-serif;
}

@mixin text {
  font-weight: 600;
  font-size: 0.9rem;
  font-family: Merriweather-Light, sans-serif;
  font-style: italic;
  margin: 40px;
}

@mixin dataTitle {
  padding: 50px 0;
}

@mixin gridMiddle {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0px;
}

@mixin resizeImg {
  min-height: 300px;
  margin: 0 55px;
}

/*---VARIABLES---*/
$black: rgb(23, 23, 23);
$white: rgb(241, 241, 241);
$grey: rgb(58, 58, 58);

/*---FONTS---*/
@font-face {
  font-family: "Merriweather-Light";
  src: url(../fonts/Merriweather-Light.ttf);
}

@font-face {
  font-family: "Inter-ExtraBold";
  src: url(../fonts/Inter-ExtraBold.ttf);
}

/*---GLOBAL VALUES---*/
* {
  @include resetValue;
  font-family: Merriweather-Light, serif;
}

body {
  text-align: center;
  background: url(../img/bg.jpg) fixed center/cover;
  margin: 0 90px;
}
