@import "./settings";
@import "./layouts/header";
@import "./components/button";
@import "./layouts/navbar";
@import "./layouts/footer";
@import "./components/form";

h2 {
  @include title;
}
h3 {
  @include articleTitle;
}
h4 {
  @include dataTitle;
}
p {
  @include text;
}

.main-part {
  background: $white;
  min-height: 1400px;
  .img-part {
    background: url(../img/pic01.jpg) center/cover;
    min-height: 700px;
    margin: 0 130px 100px 130px;
  }
  .info-part h2,
  p {
    max-width: 550px;
    margin: auto auto 30px auto;
  }
}

.second-part {
  background: $white;
  min-height: 830px;
  @include gridMiddle;

  .container:nth-child(1) {
    .img-part {
      background: url(../img/pic02.jpg) center/cover;
      @include resizeImg;
    }
  }
  .container:nth-child(2) {
    .img-part {
      background: url(../img/pic03.jpg) center/cover;
      @include resizeImg;
    }
  }
  p {
    text-align: left;
    @include resizeText;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  h3 {
    max-width: 240px;
    margin: auto auto 25px auto;
  }
}

.second-part .container {
  border: 1px solid rgba(219, 211, 211, 0.397);
}
.contact-part {
  @include gridMiddle;
  background: $grey;
  margin-top: 30px;
  min-height: 400px;
  margin-bottom: 50px;

  .info-part {
    display: grid;
    grid-template-rows: 25%25%25%25%;
    h3 {
      @include contactTitle;
    }
    p{
      @include contactText;
      max-width: 300px;
      margin: 0 auto;
      text-align: left;
    }
  }

  .info-part > div,
  footer {
    border: 1px solid rgba(219, 211, 211, 0.397);
    @include gridForm;
    margin: 0 0;
    h3,
    p,
    li {
      margin: auto 0;
    }
  }
}
