/*---MIXINS---*/
/*---VARIABLES---*/
/*---FONTS---*/
@font-face {
  font-family: "Merriweather-Light";
  src: url(../fonts/Merriweather-Light.ttf);
}
@font-face {
  font-family: "Inter-ExtraBold";
  src: url(../fonts/Inter-ExtraBold.ttf);
}
/*---GLOBAL VALUES---*/
* {
  margin: 0;
  padding: 0;
  block-size: border-box;
  list-style: none;
  font-family: Merriweather-Light, serif;
}

body {
  text-align: center;
  background: url(../img/bg.jpg) fixed center/cover;
  margin: 0 90px;
}

header {
  padding: 100px 200px;
}
header h1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.7rem;
  font-family: Inter-ExtraBold, sans-serif;
  color: rgb(255, 255, 255);
}
header p {
  font-weight: 600;
  font-size: 0.9rem;
  font-family: Merriweather-Light, sans-serif;
  font-style: italic;
  margin: 40px;
  color: rgb(255, 255, 255);
  margin: 40px 0;
}

.button {
  text-decoration: none;
  color: rgb(23, 23, 23);
  background: rgb(255, 255, 255);
  border: 2px solid rgb(23, 23, 23);
  padding: 15px 40px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 0.9rem;
  letter-spacing: 2px;
  font-family: "Inter-ExtraBold", sans-serif;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.button:hover {
  color: rgb(255, 255, 255);
  background: rgb(23, 23, 23);
  border-color: rgb(255, 255, 255);
}

nav {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0px;
  min-height: 50px;
}
nav ul {
  background: rgba(255, 255, 255, 0.349);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}
nav ul a {
  text-decoration: none;
  font-family: Inter-ExtraBold, serif;
  font-size: 0.7rem;
  color: rgb(255, 255, 255);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
nav .nav-left a:hover {
  color: rgb(23, 23, 23);
}
nav .nav-right a:hover {
  color: skyblue;
}

h2 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.7rem;
  font-family: Inter-ExtraBold, sans-serif;
}

h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Inter-ExtraBold, sans-serif;
  margin-bottom: 25px;
}

h4 {
  padding: 30px 0;
}

p {
  font-weight: 600;
  font-size: 0.9rem;
  font-family: Merriweather-Light, sans-serif;
  font-style: italic;
  margin: 40px;
}

.main-part {
  background: rgb(255, 255, 255);
  min-height: 1200px;
}
.main-part .img-part {
  background: url(../img/pic01.jpg) center/cover;
  min-height: 700px;
  margin: 0 80px;
}

.second-part {
  background: rgb(255, 255, 255);
  min-height: 650px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0px;
}
.second-part .container:nth-child(1) .img-part {
  background: url(../img/pic02.jpg) center/cover;
  min-height: 300px;
  margin: 0 55px;
}
.second-part .container:nth-child(2) .img-part {
  background: url(../img/pic03.jpg) center/cover;
  min-height: 300px;
  margin: 0 55px;
}
.second-part p {
  text-align: left;
}

.contact-part {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 0px;
  background: rgb(243, 243, 243);
  margin-top: 30px;
  min-height: 500px;
}
.contact-part .form-part {
  margin: 30px;
  justify-items: left;
}
.contact-part .info-part > div {
  border: 1px solid rgba(219, 211, 211, 0.397);
}

.second-part .container {
  border: 1px solid rgba(219, 211, 211, 0.397);
}/*# sourceMappingURL=index.css.map */