header {
  padding: 230px 200px 150px 200px;
  h1 {
    @include title;
    color: $white;
  }
  p {
    @include text;
    color: $white;
    margin: 50px 0 100px;
  }
  a {
    color: $white;
    font-size: 1.3rem;
    border-radius: 30px;
    border: 1px solid;
    padding: 10px 13px 10px;
    transition: 0.4s;
  }
  a:hover {
    border-color: $black;
  }
}
