nav {
  @include gridMiddle;
  min-height: 50px;
  ul {
    background: rgba(255, 255, 255, 0.349);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    a {
      text-decoration: none;
      font-family: Inter-ExtraBold, serif;
      font-size: 0.7rem;
      color: $white;
      transition: 0.4s;
    }
  }

  .nav-left {
    a:hover {
      color: $black;
    }
  }

  .nav-right {
    padding-left: 500px;
    a {
      font-size: 0.9rem;
    }
    a:hover {
      color: skyblue;
    }
  }
}
